@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: #181818;
  color: #f3f3f3;
  font-family: "Lato", sans-serif;
  margin: 0;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0 10%;
  display: grid;
  gap: 12em;
}

header {
  margin: 0 10%;
  margin-top: 2em;
  position: fixed;
  top: 0;
  display: flex;
  width: calc(100% - 20%);
  justify-content: center;
}

footer {
  margin: 0.5em 10%;
  margin-top: auto;
  font-size: 14px;
  color: #999999;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}
