.home-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 4em;
  padding-top: 12em;
}

.home-container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 0.5em;
}

.home-container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.logo-image {
  border: solid #2e2e2e 4px;
  border-radius: 100%;
}

.color-text {
  color: #ff9a00;
}

.home-description {
  font-size: 18px;
  color: #c0c0c0;
}

.home-social-media {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: #202020;
  border: solid #303030 2px;
  transition: scale cubic-bezier(0.34, 1.56, 0.64, 1) 400ms;
}

.basic-button a {
  display: flex;
  color: #f3f3f3;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 0.5em 1em;
  align-items: center;
  gap: 0.5em;
}

.basic-button:hover {
  scale: 1.05;
}
